body{
    background-color: #FFFECC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#parentDiv {
    width: 800px;
    height: 590px;
    background: #FFD2CF;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    padding-bottom: 20px;
}

#infoDiv {
    width: 500px;
    height: auto;
    border: 2px solid black;
    text-align: center;
}

#infoDiv p{
    margin: 2px 7px;
}
.info{
    padding: 15px auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

#gameDiv {
    width: 306px;
    height: auto;
    display: none;
}
table {
    margin: 50px auto;
    border: 2px solid #000000;
    border-collapse: collapse;
    background-color: white;
    height: 100%;
}

.box {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    color: white;
}
#youDraw{
    display: none;
}

#score{
    display: none;
}

button{
    width: 100px;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 3px 2px black;
}

#stBtn {
    padding: 7px;
    margin: 0 auto;
}
   
#play_again{
    display: none;
    padding: 7px;
    margin: 0px 3px;
}
#restart{
    display: none;
    padding: 7px;
    margin: 0px 3px;
}

summary{
    text-align: center;
}
.chartToPlayWith{
    width: 50px;
    padding: 15px;
    height: auto;
    border: 1px solid black;
}
.chartToPlayWith:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
#char{
    display: flex;
    height: 100px;
    flex-direction: column;
}

#level{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
select{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
}
#youWin{
    display: none;
}
#youLoose{
    display: none;
}

footer{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

/* #messages{
    background-color: orangered;
} */

